@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0f172a;
  --background: #ffffff;
  --primary: #F75074;
  --primary-foreground: #ffffff;
  --secondary: #F9D51B;
  --secondary-foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f1f5f9;
    --background: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
